<ion-view title="购买与转让">

<div class="tabs-striped tabs-top tabs-background-positive tabs-light">
	<div class="tabs">
		<a class="tab-item active" href="#">
			转让 
		</a>
		<a class="tab-item" href="#">
			购买 
		</a>
		<a class="tab-item" href="#">
			大家在用
		</a>
	</div>
</div>

<ion-content>
	<div class="padding-top" style="padding-top:50px;"></div>

	<ion-list>
		<a class="item item-thumbnail-left item-button-right">
			<img ng-src="img/item_icons/naifen.png">
			<div>
				<h2>美素佳儿3段</h2>
				<p>未开罐 有效期到2015年8月</p>
			</div>
			
			<span class="badge badge-positive">324元</span>
		</a>

		<a class="item item-thumbnail-left item-button-right">
			<img ng-src="img/item_icons/naifen.png">
			<div>
				<h2>婴儿车</h2>
				<p>外出-童车 8成新</p>
			</div>
			<button class="button button-positive button-clear"> 90 元 </button>
		</a>
	</ion-list>
</ion-content>

</ion-view>
