<ion-view title="商城">

<ion-content>

	<ion-list>
		<a class="item item-thumbnail-left" onclick="window.open('http://m.jd.com/', '_blank', 'location=yes')">
			<img ng-src="img/shop_icons/jd.png">
			<div>
				<h2 class="royal title">京东商城</h2>
                <p>奶粉 | 营养辅食 | 尿裤湿巾 | 喂养用品 | 洗护用品 | 童车童床 | 寝居服饰 | 妈妈专区</p>
			</div>
		</a>

        <a class="item item-thumbnail-left" onclick="window.open('http://m.suning.com/', '_blank', 'location=yes')">
            <img ng-src="img/shop_icons/suning.png">
            <div>
                <h2 class="royal title">苏宁易购-母婴</h2>
            </div>
        </a>

        <a class="item item-thumbnail-left" onclick="window.open('http://shop103922384.m.taobao.com/', '_blank', 'location=yes')">
            <img ng-src="img/shop_icons/taobao.png">
            <div>
                <h2 class="royal title">微妈妈母婴精品</h2>
            </div>
        </a>

	</ion-list>
</ion-content>

</ion-view>
