<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.speedandspeed.babythings" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>宝宝物品管家</name>
    <icon src="www/res/logo.png" />
  <description>
        帮你记忆和管理宝宝的所有物品，不再遗忘.
    </description>
  <author email="my101du@gmail.com" href="http://www.itjiaoshou.com/">
      my101du
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>